<!DOCTYPE html>
<html>
<html>
  <head>
    <title>The Xpress Files</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <link rel="stylesheet" href="css/styles.css">
  </head>

  <body>
    <div class="container">
      <header class="row">
        <h1 class="twelve columns">X-Finder</h1>
      </header>
      <div class="main row">
        <h3>List of Sightings:</h3>
        <% if(sightings) { %>
          <ol>
            <% sightings.forEach(function(el){ %>
              <li><br/>
                <ul class="unstyled">
                  <li>City: <%= el.city %></li>
                  <li>State: <%= el.state %></li>
                  <li>Date: <%= el.date %></li>
                  <li>Shape: <%= el.shape %></li>
                  <li>Duration: <%= el.duration %></li>
                  <li>Description: <%= el.description %></li>
                </ul>
              </li>
            <% });%>
          </ol>
        <% } %>
      </div>
    </div>
  </body>
</html>
